@charset "UTF-8";
/*================================
	サイトごとに設定
=================================*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: 0 0;
}

body {
  line-height: 1;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: 0 0;
}

ins {
  text-decoration: none;
  color: #000;
  background-color: #ff9;
}

mark {
  font-weight: 700;
  font-style: italic;
  color: #000;
  background-color: #ff9;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

input,
select {
  vertical-align: middle;
}

img {
  font-size: 0;
  line-height: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

a:link {
  text-decoration: none;
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=button],
input[type=submit] {
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

input[type=button]::-webkit-search-decoration,
input[type=submit]::-webkit-search-decoration {
  display: none;
}

input[type=button]::focus,
input[type=submit]::focus {
  outline-offset: -2px;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: 0 0;
}

h4 {
  font-weight: 400;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  margin-top: -2px;
  margin-bottom: -2px;
  padding: 0;
  border: 0;
}

/*****************************************
common
*****************************************/
* {
  box-sizing: border-box;
  font-size: 100%;
  letter-spacing: 0;
  line-height: 1;
}

body {
  font-family: "Work Sans", "Noto Sans JP", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 767px) {
  img {
    -webkit-backface-visibility: hidden;
  }
}

.cf::after {
  content: "";
  display: table;
  clear: both;
}

#wrapper {
  position: relative;
  margin: auto;
  min-width: 1240px;
  width: 100%;
}
@media (max-width: 767px) {
  #wrapper {
    min-width: auto;
    overflow: hidden;
  }
}

.container {
  position: relative;
  margin: auto;
  max-width: 1000px;
  width: 100%;
}
@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
  }
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}
/*****************************************
template
*****************************************/
h2.title {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  h2.title {
    margin-bottom: 15px;
    height: auto;
    align-items: flex-start !important;
  }
}
h2.title .en {
  line-height: 1;
  margin-bottom: 25px;
  font-size: 60px;
  font-weight: 600;
}
@media (max-width: 767px) {
  h2.title .en {
    margin-bottom: 18px;
    font-size: 50px;
  }
}
h2.title .jp {
  display: inline-flex;
  font-size: 20px;
  background: #eee642;
}
@media (max-width: 767px) {
  h2.title .jp {
    font-size: 14px;
  }
}

/*****************************************
header
*****************************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: transparent;
  transition: 0.3s;
  z-index: 500;
  padding: 0 47px 0 42px;
}
@media (max-width: 767px) {
  .header {
    padding: 0 20px 0 20px;
    display: none;
  }
}

.header-sp {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  z-index: 100;
  background: #fff;
}
@media (max-width: 767px) {
  .header-sp {
    display: block;
  }
}
.header-sp .container {
  position: relative;
}
@media (max-width: 1079px) {
  .header-sp .container {
    display: flex;
    align-items: center;
    height: 70px;
  }
}
.header-sp .header-logo {
  position: absolute;
  z-index: 100;
}

.header .container {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.header .container {
  height: 100%;
}
@media (max-width: 999px) {
  .header .container {
    width: 100%;
  }
}

.header.scroll {
  background: #fff;
  transition: 0.3s;
}

body:not(.front-page) .header.scroll {
  background: #043665;
  transition: 0.3s;
}

.header-logo {
  position: absolute;
  display: inline-flex;
  z-index: 999;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .header-logo {
    margin-top: 0;
    width: 162px;
  }
}
.header-logo:hover {
  transition: 0.3s;
  opacity: 0.6;
}

.header-contents {
  display: flex;
  flex-flow: row;
  margin-left: auto;
  margin-top: auto;
}
@media (max-width: 767px) {
  .header-contents {
    margin-bottom: 30px;
    flex-flow: column;
  }
}

@media (max-width: 767px) {
  .header .header-contents {
    display: none;
  }
}
.header-contents-item {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
}
.header-contents-item:not(:last-of-type) {
  margin-right: 33px;
}

body:not(.front-page) .header-contents-item._reserve a {
  color: #043665;
  background: #fff;
}

.header-contents-item a {
  position: relative;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  white-space: nowrap;
}
.header-contents-item a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: 20px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.header-contents-item a:hover::after {
  visibility: visible;
  bottom: -2px; /*アニメーションが止まる位置*/
  opacity: 1;
}
@media (max-width: 767px) {
  .header-contents-item a {
    color: #fff;
  }
}

.header-navi {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  background: #fff;
  overflow: scroll;
  z-index: 1000;
}

@media (max-width: 999px) {
  .header-navi {
    top: 0;
    height: 100vh;
  }
}
.header-navi.open {
  display: block;
  left: 0;
  transition: 0.3s;
  font-size: 12px;
}

.header-contents-sp {
  overflow-y: auto;
  overflow-y: scroll;
  padding: 20px 15px 35px;
  height: calc(100% - 70px);
  background: #000;
}
.header-contents-sp .header-contents-navi {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-contents-sp .header-contents-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  overflow: visible;
}
@media (max-width: 767px) {
  .header-contents-sp .header-contents-item {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
}
.header-contents-sp .header-contents-item a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 999px) {
  .header-contents-sp .header-contents-item a {
    width: 100%;
  }
}
.header-contents-sp .header-contents-item a .en {
  width: 40%;
  font-size: 24px;
  white-space: nowrap;
  font-weight: 500;
}
.header-contents-sp .header-contents-item a .en b {
  color: #eee642;
}
.header-contents-sp .header-contents-item a .jp {
  font-size: 14px;
}
.header-contents-sp .right-contact-tell {
  margin-bottom: 20px;
  width: 100%;
  font-size: 21px;
  font-weight: 500;
  height: 54px;
}
.header-contents-sp .right-contact-mail {
  width: 100%;
  height: 54px;
  color: #000;
  background: #eee642;
}

.btn-contact {
  position: absolute;
  top: 17px;
  right: 0;
  width: 249px;
  height: 46px;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 23px;
  border: 1px solid #000;
}
.btn-contact:hover {
  background: #fff;
}
.btn-contact:hover .jp {
  color: #000;
}
.btn-contact:hover .fa-envelope {
  color: #000;
}
@media (max-width: 767px) {
  .btn-contact {
    display: none;
  }
}
.btn-contact .fa-envelope {
  color: #fff;
  margin-right: 12px;
}
.btn-contact .jp {
  letter-spacing: 0.04em;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.btn-nav {
  display: none;
  z-index: 1000;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .btn-nav {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #000;
  }
}
.btn-nav span {
  font-size: 18px;
  color: #fff;
}

.btn-nav-burger {
  display: none;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 767px) {
  .btn-nav-burger {
    display: block;
  }
}
.btn-nav-burger span {
  position: absolute;
  display: block;
  width: 24px;
  height: 1px;
  color: #fff;
  border-radius: 2px;
  left: 0;
  transition: 0.3s;
}
.btn-nav-burger.open span {
  background: #fff;
}

.btn-nav-burger .brand-property-menu {
  width: 100%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-nav-burger span:nth-of-type(1) {
  top: 0;
  width: 100%;
}

.btn-nav-burger span:nth-of-type(2) {
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.btn-nav-burger span:nth-of-type(3) {
  bottom: 0;
  width: 100%;
}

.btn-nav.open .btn-nav-burger span:nth-of-type(1) {
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
}

.btn-nav.open .btn-nav-burger span:nth-of-type(2) {
  display: none;
}

.btn-nav.open .btn-nav-burger span:nth-of-type(3) {
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

.btn-nav.open .btn-nav-burger span {
  background: #fff;
}

.header-banner {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.header-banner-item {
  display: flex;
  margin: auto;
}
.header-banner-item:not(:last-of-type) {
  margin-bottom: 20px;
}

/*****************************************
footer
*****************************************/
footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  background: #000000;
}
@media (max-width: 767px) {
  footer {
    height: 153px;
    padding: 25px 0;
  }
}

.copyright {
  margin-bottom: 33px;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 767px) {
  .copyright {
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
  }
}

.pagetop {
  position: absolute;
  top: 170px;
  right: 60px;
  display: block;
  width: 64px;
  z-index: 10;
}
@media (max-width: 767px) {
  .pagetop {
    top: -33px;
    right: -6px;
    width: 55px;
  }
}

/*****************************************
main
*****************************************/
main {
  margin-top: 144px;
}
@media (max-width: 767px) {
  main {
    margin-top: 80px;
  }
}

/*****************************************
btn_entry
*****************************************/
.header_btn_entry {
  display: flex;
  width: 156px;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #cc0000;
}

.btn_nav {
  position: relative;
  display: block;
  width: 100px;
  height: 100%;
  background: #666666;
}
.btn_nav span {
  display: inline-block;
  width: 37px;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background: #fff;
  transition: 0.3s;
}
.btn_nav span:first-of-type {
  top: 30px;
  bottom: auto;
  margin: auto;
  left: 0;
  right: 0;
}
.btn_nav span:nth-of-type(2) {
  top: 0;
  bottom: 0;
}
.btn_nav span:last-of-type {
  top: auto;
  bottom: 30px;
}
.btn_nav.open span {
  width: 45px;
}
.btn_nav.open span:first-of-type {
  top: 43px;
  bottom: auto;
  margin: auto;
  left: 0;
  right: 0;
  transform: rotate(45deg);
}
.btn_nav.open span:nth-of-type(2) {
  display: none;
}
.btn_nav.open span:last-of-type {
  top: auto;
  bottom: 43px;
  transform: rotate(-45deg);
}

@-webkit-keyframes rotation_R {
  0% {
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation_R {
  0% {
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation_L {
  0% {
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotation_L {
  0% {
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(-360deg);
  }
}
.sa {
  opacity: 0;
  transition: all 0.8s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-60px, 0);
}

.sa--rl {
  transform: translate(60px, 0);
}

.sa--up {
  transform: translate(0, 60px);
}

.sa--down {
  transform: translate(0, -60px);
}

.sa--scaleUp {
  transform: scale(0.5);
}

.sa--scaleDown {
  transform: scale(1.5);
}

.sa--rotateL {
  transform: rotate(180deg);
}

.sa--rotateR {
  transform: rotate(-180deg);
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

/*****************************************
temp
*****************************************/
#koyomi-changer {
  padding: 30px;
}
#koyomi-changer .container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#koyomi-changer .container > * {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
}

#btn-seireki {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #444;
  font-size: 30px;
  border-radius: 50%;
}

#wareki, #seireki, #warekiNum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 1px 8px;
  min-height: 30px;
  text-align: center;
  font-size: 16px;
  background-color: #ddd;
  border: none; /*枠線非表示*/
  outline: none; /*フォーカス時の枠線非表示*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  white-space: nowrap;
}

#seireki {
  width: 56px;
}

#wareki {
  width: 48px;
}

#warekiNum {
  width: 36px;
}

.seireki-wrap, .wareki-wrap {
  display: inline-flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */